/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body, html {
  min-height: 100vh;
  background-color: #fff;
  position: relative;
}


/* gallery */
.gallery {
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  /* padding-bottom: 20px; */
}
@media screen and (max-width: 576px) {
  .gallery {
    grid-template-columns: 1fr;
    gap: 4px;
  }
}
@media screen and (min-width: 576.1px) and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}
@media screen and (min-width: 768.1px) and (max-width: 992px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }
}
@media screen and (min-width: 992.1px) and (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}

.gallery img {
  /* margin: 20px; */
  /* flex-basis: 400px; */
  width: 100%;

  border: solid 2px #333;
  box-shadow: 0 0 10px #333;
}
/* @media screen and (max-width: 576px) {
  .gallery {
    justify-content: center;
  }
  .gallery img {
    flex-basis: 350px;
  }
}

@media screen and (min-width: 576.1px) and (max-width: 1024px) {
  .gallery {
    justify-content: space-evenly;
  }
} */
